{% extends 'core/index.html' %}
   {% load static %}
   {% block content %}

   <div class="listTipo">
    <h1 >Cargos</h1>
   </div>
   <div>
      <button type="button" name="btAgregarCargo" id="btAgregarCargo" class="btn  btn-info"> Agregar</button>
     </div>
             <br>
          <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">ID</th> 
                  <th scope="col">Cargo</th>
                  <th scope="col">Acción</th> 
                </tr>
              </thead>
              <tbody>
                {% for cargoo in cargoo %}
                <tr>
                  <th scope="row">{{ cargoo.idCargo }}</th>
                  <td>{{ cargoo.nomCargo}}</td>
                  <td>
                    <button type="button" name="btEditarCargo" id="btEditarCargo" class="btn  btn-success" onclick="editarCargo('{{cargoo.idCargo}}')"> Editar </button>
                  </td>
                </tr>
                {% endfor %} 
              </tbody>
            </table>
   </div>
  

          <!------------------------AQUÍ DEBE DE IR EL MODAL GUARDAR------------------------>
          
          <div class="modal" id="modalCargo" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="tituloModelCargo">Ingresar Cargo</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>                
                <div class="modal-body">
                  <form>                                      
                    <div class="form-group">
                      <label for="correlativo">ID</label>
                      <input type="number" class="form-control md-2" name="idCargo" id="idCargo" disabled>
                    </div>
                    <div class="form-group">
                        <label for="">Cargo</label>
                        <input type="text" class="form-control md-2" name="cargo" id="cargo" required=True >
                      </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" id="GuardarCargo" class="btn btn-primary">Guardar</button>
                  <button type="button" id="CancelarCargo" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
              </div>
            </div>
          </div>
   {% endblock %}