
   {% extends 'core/index.html' %}
   {% load static %}
   {% block content %}
   <div class="listDisp">
    <h1>lista de Dispositivos</h1>
   </div>
   <div>
    <button type="button" name="btIngresarDispositivo" id="btIngresarDispositivo" class="btn  btn-info"> Agregar</button>
   </div>
           <br>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">ID</th> 
                <th scope="col">Dispositivo</th>
                <th scope="col">Marca</th>  
                <th scope="col">Nro Serie</th>                 
                <th scope="col">Modelo</th> 
                <th scope="col">Estado</th> 
                <th scope="col">Usuario</th>
                <th scope="col">Acción</th> 
              </tr>
            </thead>
            <tbody>
              {% for disp in disp %}
              <tr>
                <th scope="row">{{ disp.idCorrel }}</th>
                <td>{{ disp.modeloo.tipo_dispositivoo.nomTipo}}</td>
                <td>{{disp.modeloo.marcaa.nomMarca}}</td>
                <td>{{ disp.nroSerie }}</td>                
                <td>{{ disp.modeloo.nomModelo }}</td>
                <td>{{ disp.estadoo.nomEstado }}</td>
                {% if disp.rutt %}
                <td>{{ disp.rutt.nombre }}</td>
                {% else %}
                <td> -- </td>
                {% endif %} 
                <td>
                  <button type="button" name="btEditarDispositivo" id="btEditarDispositivo" class="btn  btn-success" onclick="editarDispositivo('{{ disp.idCorrel }}')"> Editar </button>
            <!-- <button type="button" name="btEliminar" id="btEliminar" class="btn  btn-danger" > Eliminar</button> -->  
                  
                </td>
              </tr>
              {% endfor %} 
            </tbody>
          </table>

          <!------------------------AQUÍ DEBE DE IR EL MODAL------------------------>
          
          <div class="modal" id="modalDispositivo" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Ingresar Dispositivo</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                
                <div class="modal-body">
                  <form class="frmDispositivo">
                                       
                    <div class="form-group">
                      <label for="correlativo">ID</label>
                      <input type="number" class="form-control md-2" id="idcorr" disabled>
                    </div>

                    <div class="form-group">
                      <label for="">Modelo</label>
                      <select class="form-control md-2" name="Mod" id="idMod" required>
                        <option selected>Selecciona Modelo...</option>
                        {% for mode in modelo %}
                        <option value="{{mode.idModelo}}">{{mode.nomModelo}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="">Nro de Serie</label>
                      <input type="text" class="form-control md-2" name="Nro" id="idNro" required>
                    </div>
                    <div class="form-group">
                      <label for="">Comentario</label>
                      <textarea class="form-control md-2" id="Textarea1" name="Texto" rows="3"></textarea>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio"  name="Estado" id="idEstado" value=1 checked>
                      <label class="form-check-label" for="exampleRadios1">
                        Habilitado
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio"  name="Estado" id="idEstado" value=2>
                      <label class="form-check-label" for="exampleRadios2">
                        En Uso 
                      </label>
                    </div>
                    <div class="form-check disabled">
                      <input class="form-check-input" type="radio"  name="Estado" id="idEstado" value=3 >
                      <label class="form-check-label" for="exampleRadios3">
                        Deshabilitado
                      </label>
                    </div>
                    <br>
                    <div class="form-group">
                      <label for="">Sucursal</label>
                      <select class="form-control md-2" name="Suc" id="idSuc" required>
                        <option selected>Selecciona Sucursal...</option>
                        {% for sucursa in sucursal %}
                        <option value="{{sucursa.idSucursal}}">{{sucursa.nomSucursal}}</option>
                        {% endfor %}
                      </select>
                    </div>                 
                    <div class="form-group">
                      <label for="">Usuario</label>
                      <input type="text" class="form-control md-2" name="Usu" id="idUsu" placeholder="Ingrese rut xxxxxxxx-x">
                    </div>
                    <small id="emailHelp" class="form-text text-muted">Antes de guardar verifique los cambios</small>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" id="GuardarDispositivo" class="btn btn-primary">Guardar Cambios</button>
                  <button type="button" class="btn btn-secondary" id="cancelarDisp" data-dismiss="modal">Cancelar</button>
                </div>
              </div>
            </div>
          </div>
          <!-- ACA TIENE QUE IR EL MODAL PARA EDITAR -->

          <div class="modal" id="modalDispositivoEd" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" >Editar Dispositivo</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                
                <div class="modal-body">
                  <form class="frmDispositivoEd"> 
                    <!--------------------------------------------------------------------------------->                                   
                    
                  </form>
                </div>
                <div class="modal-footer" id="footerDispEd">
    
                </div>
              </div>
            </div>
          </div>

   {% endblock %}
