
.imagen{
    background-image: url('sun.jpg');
}

.titulo, .footer{
    text-align: center;
    font-family: "Audiowide", sans-serif;
    background-color: rgb(107, 104, 104);
}

th, td, tbody{
    text-align: center;
}
